/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://i.ytimg.com/vi/d1ebOYj9KmQ/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
